
# Set api host endpoint
HOST_IP=10.0.10.1

# Nova original used project_id as the *account* that owned resources (servers,
# ip address, ...)   With the addition of Keystone we have standardized on the
# term **tenant** as the entity that owns the resources.  **novaclient** still
# uses the old deprecated terms project_id.  Note that this field should now be
# set to tenant_name, not tenant_id.
export NOVA_PROJECT_ID=demo

# In addition to the owning entity (tenant), nova stores the entity performing
# the action as the **user**.
export NOVA_USERNAME=demo

# With Keystone you pass the keystone password instead of an api key.
# The most recent versions of novaclient use NOVA_PASSWORD instead of NOVA_API_KEY
export NOVA_PASSWORD=guest

# With the addition of Keystone, to use an openstack cloud you should
# authenticate against keystone, which returns a **Token** and **Service
# Catalog**.  The catalog contains the endpoint for all services the user/tenant
# has access to - including nova, glance, keystone, swift, ...  We currently
# recommend using the 2.0 *auth api*.
#
# *NOTE*: Using the 2.0 *auth api* does not mean that compute api is 2.0.  We
# will use the 1.1 *compute api*
export NOVA_AUTH_URL=http://$HOST_IP:5000/v2.0/

# Currently novaclient needs you to specify the *compute api* version.  This
# needs to match the config of your catalog returned by Keystone.
export NOVA_VERSION=1.1

# Region name
export NOVA_REGION_NAME=RegionOne

# Set the ec2 url so euca2ools works
export EC2_URL=http://$HOST_IP:8773/services/Cloud

# Access key is set in the initial keystone data to be the same as username
export EC2_ACCESS_KEY=demo

# Secret key is set in the initial keystone data to the admin password
export EC2_SECRET_KEY=secretpassword

# The followings are for glance. Will be automatically poulated using variables
# defined before.
export	OS_AUTH_USER=$NOVA_USERNAME
export	OS_AUTH_KEY=$NOVA_API_KEY
export	OS_AUTH_TENANT=$NOVA_PROJECT_ID
export OS_AUTH_URL=http://$HOST_IP:5000/v2.0/
export	OS_AUTH_STRATEGY=keystone
